.leftbar{
    flex: 2.5;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    position: sticky;
    top: 50px;
     border-radius: 10px;
 -webkit-box-shadow: -2px 3px 30px 0px rgba(0,0,0,0.5); 
box-shadow: -2px 3px 30px 0px rgba(0,0,0,0.5);
    
}
::-webkit-scrollbar {
    width: 5px;
  }
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
  }
.leftbarList {
    padding: 0;
    margin: 0;
    list-style: none;
  }
.leftbarWrapper{
    padding:15px;
}
.leftbarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .leftbarListItemText{
font-size:14px;
  }
.leftbarIcon {
    margin-right: 10px;
    opacity:0.7;
    font-size:13px;
  }
  .leftbarButton {
     border: none;
    padding: 10px 12px;
    border-radius: 6px;
    /* background-image: linear-gradient(to right, #aa1d86, #52176d); */
    background-color: #0C69F3;
   opacity: 74%;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: white;
  }
  .leftbarButton:hover{
      background-image: linear-gradient(to right,  #52176d, #aa1d86);
    color: #fff;
    border: 2px solid #fff;
  }
  
  .leftbarHr {
    margin: 20px 0;
  }
  
  .leftbarConnectionList {
    padding: 0;
    margin: 0;
    list-style: none;
  }
.leftbarConnection{
    display: flex;
    align-items:center;
    margin-bottom:15px;
}
.leftbarConnectionImg{
    width:32px;
    height:32px;
    border-radius:50%;
    margin-right:10px;
    object-fit:cover;
}
.leftbarConnectionName{
  font-size: 14px;;
}
