.chat{
    display: flex;
    flex-direction: column;
    

}
.chatTop{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.chatImg{
    width:35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;

}
.chatterName{
    margin-right: 20px;
    font-size: 15px;
    font-weight: 500;
}

.chatText{
    padding: 8px;
    border-radius: 10px;
    font-size: 14px;
    max-width: 90%;
    color: black;
    background-color: rgba(0,0,0,0.03);
    transition: all 0.8s ease;

}
.chatText:hover{
    background-color: rgba(0,0,0,0.07);

}
.chatTime{
    font-size: 12px;
}

.chata.own{
    align-items:flex-end;

}
.chat.own .chatText{
    padding: 8px;
    border-radius: 10px;
    font-size: 14px;
    max-width: 90%;
    color: rgb(37, 37, 37);
    background-color: rgba(0,0,0,0.03);
    transition: all 0.8s ease;


}

.chat.own .chatText:hover{
    background-color: rgba(0,0,0,0.07);

}
.ChatHr{
    
        margin: 20px 0;
      
}